body {
    background-color: #691212;
    background: url(../img/zig%20zag%20wool.png);
    color: white;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 6vh;
}

#regles {
    text-align: center;
    font-style: italic;
    margin-bottom: 5vh;
    padding: 3vh;
    border-top: 2px white dashed;
    border-bottom: 2px white dashed;
}

h2,
h3,
.machine {
    text-align: center;
}

input {
    width: 5.5vw;
    text-align: center;
    color: white;
    background: none;
    border: none;
    font-size: 1.5em;
}

.message {
    text-align: center;
    font-size: 0.8em;
}

img {
    margin-top: 2vh;
}

button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    outline: none;
    color: white;
    background: black;
}

button:hover {
    border: black 3px solid;
    font-weight: bold;
    color: black;
    background: white;
}

#boutonRecommencer {
    width: 170px;
}

footer {
    font-size: 0.8em;
    font-style: italic;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
